body{
    background-color: #B0C573;

}

.Title{
    text-align: center;
    font-size: 80px;

}

.Slogan{
    text-align: center;
    font-size: 30px;
}
.History_Section{
    overflow: hidden;
    font-size: 16px;
}

.History-Content{
    text-align: left;
}
/*Navigation Section*/
 .topnav {
    background-color: #EBD2A1;
    /* Clips the content to fit into the spacebar  */
    overflow: hidden;
    }
        
/* Style the links inside the navigation bar */
.topnav a {
    float: left;;
    color: white;
    text-align: center;
    padding: 12px 170px;
    text-decoration: none;
    font-size: 12px;
    font-family: 'Times New Roman';
        }
        
/* Change the color of links on hover */
.topnav a:hover {
    background-color: darkolivegreen;
    color: black;
    }
        
/* Add a color to the active/current link */
.topnav a:active {
    background-color: darkkhaki;
    color: black;
    }

.Active{
    background-color: #F3C03A;
}