body{
    background-color: green;
    font-family: monospace, sans-serif;
}

.head{
    text-align: center;
    font-size: 50px;
}

.origin{
    text-align: center;
}
.origin-text{
    padding-right: -600px;
    width: 800px;

}

.pic{
    padding-left: 800px;
    margin-bottom: 50px;
    margin-top: -120px;
    height: 100px;
    width: 300px;
} 

.care{
    margin-top: -50px;
    text-align: center;
    font-size: 30px;
}
